@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
    font-family: "raleway";
    src: url(../police/Raleway.woff);
    src: url(../police/Raleway.ttf) format('truetype');
}

* {
    font-family: "raleway";
    width: 1160px;
    margin: auto;
}

header h1 {
    padding-top: 50px;
    padding-bottom: 50px;
}

header p {
    padding-bottom: 75px;
    color: white;
    font-size: 25px;
}

header nav {
    display: flex;
    justify-content: space-between;
    background-color: #2c1d27;
    height: 100px;
    color: white;
}

header {
    background-color: #782221;
    text-align: center;
}

#container_left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #782221;
    max-width: 385px;
    overflow: hidden;
    padding-top: 20px;
    padding-right: 400px;
}

#container_left h2 {
    background-color: #dbc2a4 ;
    font-family: "lato", serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

#container_left ul {
    color: white;
}

#container_right {
    background-color: white;
    width: 775px;
    padding-bottom: 30px;
    border-right: solid 3px;
}

#container_right h2 {
    background-color: #dbc2a4 ;
    font-family: "lato", serif;
    padding-left: 10px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 650px;
    border-left: 5px solid #782221 ;
}

#container_right h2:hover {
    border-right: 5px solid #782221;
}

h1 {
    text-align: center;
    color: white;
}

h1 div {
    background-color: #2c1d27;
    text-align: center;
}

figure {
    width: 150px;
    height: 150px;
    text-align: center;
    }

figure a:hover {
    cursor: zoom-in;
}

header img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 30px #2c1d27;
}

footer {
    background-color: #782221;
    color: white;
    text-align: center;
}

footer img {
    width: 50px;
    height: 50px;
}

footer div {
    align-items: center;
}

footer div a:hover{
    opacity: 0.5;
}

main {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50% ;
    gap: 0px;
    max-width: 1160px;
    background-color: #782221;
}

#indentation {
    text-indent: 50px;
    color: white;
}

header nav a {
    text-decoration: none;
    color: white;
}

header nav a:hover {
    text-decoration: underline;
}

h3 {
    padding: 20px ;
}

h3 ~ p {
    padding-left: 20px;
}



